.App {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(45deg,#792f2fb2,#79782fb2,#3b792fb2,#3f2f79b2);
}

.container {
  margin: 5rem;
  background-color: rgba(255, 255, 255, 0.658);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.display-box {
  padding: 0.5rem;
  width: fit-content;
  font-size: 2rem;
  text-align: center;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: lightcyan;
  text-shadow: 1px 1px lightsalmon;
}

.kit-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.push-box {
  max-width: calc(100%/3);
  width: auto;
  height: auto;
  padding: 2rem;
  background-color: rgb(54, 116, 105);
  margin: 1rem;
}